.hero-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
  padding: 0 20px;
}

.hero-heading {
  font-size: 4.5rem;
  font-weight: bolder; 
  color: #000000;
  margin-bottom: 1rem;
}

.typed-text {
  color: #000000;
}

.typewriter-text {
  font-family: inherit;
  font-size: inherit;
}
.hero-container p {
  font-size: 1.25rem;
  color: #000; 
  max-width: 800px;
  margin-top: 0.5rem;
  line-height: 1.6;
}
.explore-button {
  margin-top: 40px;
  background: linear-gradient(135deg, #5c77ee 0%, #0c0c757c 100%); /* indigo-600 */
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 9999px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #4338ca; 
}
